@model IEnumerable<K22CNT2_PhamThanhDat_2210900007_Project3.Models.PTDQuanTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PTDTrangthai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PTDTrangthai)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PTDTrangthai)
        @{ if (item.PTDTrangthai == 0)
            {
                <span class="text-warning">Không hoạt động</span> }
            else if (item.PTDTrangthai == 1)
            {
                <span class="text-success">Đang hoạt động</span> } }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PTDTaikhoan }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Details", "Details", new { id = item.PTDTaikhoan }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PTDTaikhoan }, new { @class = "btn btn-danger" })
    </td>
</tr>
}

</table>
