@model IEnumerable<K22CNT2_PhamThanhDat_2210900007_Project3.Models.PTDBaoTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PTDNgayBaoTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTDMoTaBaoTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTDChiPhi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTDNguoiThucHien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PTDTrangTB.PTDTenThietBi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PTDNgayBaoTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTDMoTaBaoTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTDChiPhi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTDNguoiThucHien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PTDTrangTB.PTDTenThietBi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PTDThietBiID }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id=item.PTDThietBiID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PTDThietBiID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
